@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #201c2b;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

.pixelated {
  image-rendering: pixelated; 
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}